  <div class="container text-left">
    <h3>軟體保管單103年度盤點作業     盤點日期：自即日起至103年12月24日止</h3>
    <p>說明：Step 1.進行含秘字之財產資料轉正(轉入正式財產保管單)作業，選擇【處置方式】為轉正或轉正後報廢，再點選【儲存處置方式】進行存檔；待轉正之軟體全數完成後，始得進入軟體保管單盤點作業。 
           Step 2.軟體保管單盤點作業：請填入個人所保管軟體之盤點處置方式(不變、數量增減或報廢)後儲存，軟體保管單會自動產生長度為10位的軟體編號，即完成軟體盤點作業。 
           Step 3.如有需要，可使用【預覽並列印】進行【保管人103年度軟體盤點處置紀錄表】、【103年度盤點結果統計表】之列印或另存新檔。
	</p>
  </div>
