<div ng-controller="Ctrl">



    <div style="border:2px solid red;">
       papers: <br>
        {{papers}}
        {[{1+2}]}

  <a href="#" editable-text="user.name" e-label="User Name">{[{ user.name || 'empty' }]}</a>


    </div>
   
  
   <table class="table table-bordered table-hover table-condensed">
    <tr style="font-weight: bold">
      <td>軟體別</td>
      <td>軟體編號</td>
      <td>原軟體編號</td>
      <td>軟體名稱</td>
      <td>數量</td>
      <td>金額</td>
      <td>啟用日期</td>
      <td>保管單位</td>
      <td>保管人</td>
      <td>盤點備註</td>
      <td>處置方式</td>
      <td>處置方式</td>
      <td>操控鈕</td>
    </tr>


    <tr ng-repeat="data in softData">
        
      
        <td>
            <span editable-text="data.STATUS_TYPE" e-form="rowform">{[{data.STATUS_TYPE}]}</span>
        </td>
        <td>
            <span editable-text="data.SOFT_NAME" e-form="rowform">{[{data.SOFT_NAME}]}</span>
       
        </td>
        <td>
            <form editable-form name="rowform" ng-show="rowform.$visible" onbeforesave="saveUser($data,user.id)" class="form-buttons form-inline">

                <button type="submit" class="btn btn-primary">
                    Save
                </button>

                <button type="button" class="btn btn-default" ng-click="rowform.$cancel()">
                    Cancel
                </button>
                
            </form>

             <div class="buttons" ng-show="!rowform.$visible">   

                <button ng-click="rowform.$show()" class="btn btn-primary">
                    Edit
                </button>

                <!--<button ng-click="removeSoftData($index)" class="btn btn-danger">
                    Delete
                </button>-->

            </div>

        </td>
        

    </tr>



  </table>



</div>