<!DOCTYPE html>
<html lang="en" ng-app="app" ng-cloak>
<head>
    <base href="http://localhost:3000/"">
     <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular Table App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="./css/style.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <link href="css/xeditable.css" rel="stylesheet">
    <script src="js/xeditable.js"></script>
    <script src="js/angular-loading-spinner.js"></script>
    <script src="js/angular-spinner.min.js"></script>
    <script src="js/spin.min.js"></script>
    
    <!--angular date picker-->
    <link href="css/angular-datepicker.min.css" rel="stylesheet"/>
    <script src="js/angular-datepicker.min.js"></script>

  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>
  <div class="container">

  {{{body}}}
  
  
  </div>

  <script src="js/core.1.5.js" ></script>
</body>
</html>
